body {
    font-family: Arial, sans-serif;
    background-color: #e3d9d9;
    margin: 30px;
    padding: 20px;
}

h1 {
    color: #524d4d;
}

h2 {
    color: #a79f9f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #beb7b7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}